{
    "plugins": ["@babel/transform-named-capturing-groups-regex"],
    "presets": [
        [ "@babel/env", {
            "targets": {
                "esmodules": true
            }
        }]
    ]
}